APP_URL=http://localhost:5000

# MongoDB connection string
MONGODB_URI=mongodb+srv://crmuser:<db_password>@cluster0.1z3lljo.mongodb.net/?appName=Cluster0

# JWT Secret for authentication
JWT_SECRET=713fVhFYBguzm1/0PgwWA7BnZMqwbNT5P6ISNtvnl7g=
